{% extends 'base.html.twig' %}
{% block main %}
    {% block filters %}
    {% endblock %}
    <div id="main" class="col-sm-12">
    <div class="container body-content">
        <div class="row mt-5">
            {% for article in articles %}
                <div class="col-md-4">
                    <article>
                        <header>
                            <h4>{{ article.title }}</h4>
                        </header>

                        <img src="{{ asset('uploads/images/') ~ article.featuredImage }}" height="250" width="250">
                        <p>
                                {{ article.summary }}
                            </p>
                        <h4>
                            ${{ article.price }}
                        </h4>
                        <small class="author">
                            {{ article.author.fullName }}
                        </small>
                        <br>


                        <a class="btn btn-info mb-5"
                           href="{{ path('article_view',{'id':article.id}) }}">Read more &raquo;</a>

                    </article>
                </div>
            {% endfor %}

        </div>
    </div>
    </div>


    {% block pagination %}

    {% endblock %}

{% endblock %}
