{% extends 'base.html.twig' %}
{% block main %}

    <img  class="img-fluid" src="{{ asset('banners/img1.jpg')}}">
    <div class="row">
        <div class="container body-container">
    <div id="main" class="col-sm-12">
    <h2 class="text-center mt-5 mb-5">POPULAR OFFERS</h2>
    <hr>
    <div class="container body-content">
        <div class="row mt-5">
            {% for article in featuredArticles %}
                <div class="col-md-3">
                    <article>
                        <header>
                            <h4>{{ article.title }}</h4>
                        </header>

                        <img src="{{ asset('uploads/images/') ~ article.featuredImage }}" height="250" width="250">
                        <p class="overflow-hidden">
                                {{ article.summary }}
                            </p>
                        <h4>
                            ${{ article.price }}
                        </h4>
                        <small class="author">
                            {{ article.author.fullName }}
                        </small>
                        <br>


                        <a class="btn btn-info"
                           href="{{ path('article_view',{'id':article.id}) }}">Read more &raquo;</a>

                    </article>
                </div>
            {% endfor %}

        </div>
    </div>
    <h2 class="text-center mt-5 mb-5">NEW OFFERS</h2>
    <hr>
        <div class="container body-content">
            <div class="row mt-5">
                {% for article in newArticles %}
                    <div class="col-md-3">
                        <article>
                            <header>
                                <h4>{{ article.title }}</h4>
                            </header>

                            <img src="{{ asset('uploads/images/') ~ article.featuredImage }}" height="250" width="250">
                            <blockquote class="blockquote">
                            <p class="overflow-hidden">
                                {{ article.summary }}
                            </p>
                            </blockquote>
                            <h4>
                                ${{ article.price }}
                            </h4>
                            <small class="author">
                                {{ article.author.fullName }}
                            </small>
                            <br>


                            <a class="btn btn-info"
                               href="{{ path('article_view',{'id':article.id}) }}">Read more &raquo;</a>

                        </article>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    </div>
    </div>
    {% block pagination %}

    {% endblock %}

{% endblock %}
