{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <form method="post" action="{{ path('set_roles') }}">
    {% for user in users %}
        <ul>
            <li>{{ user.fullName }}</li>

            {% for role in roles %}
               <ul>
                   <li>
                       {{ role.name }} <input type="checkbox" name="{{ user.id}}_{{ role.id }}" value="{{ role.id }}" onchange="setRole(this)" {% if  role.name  in user.roles %} checked {% endif %}>
                   </li>
               </ul>
            {% endfor %}
        </ul>
    {% endfor %}
    </form>
    <script type='text/javascript'>

        function setRole(elm) {
            var ur = {'ur': $(elm).attr('name')};

            $.ajax({
                url: {{ path('set_roles') }},
                type:"POST",
                data: ur,
                success: function (data) {
                    console.log(data);
                    console.log('setrole');
                }
            });

        }
    </script>
{% endblock %}
