{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <div>
        {{ user.email }}
        <br>
        {{ user.fullName }}
    </div>
    <form class="form-horizontal" action="{{ path('user_profile') }}" method="post">
        <fieldset>

            <div class="form-group">
                <label class="col-sm-4 control-label" for="user_fullName">Full Name</label>
                <div class="col-sm-4 ">
                    <input type="text" class="form-control" id="user_fullName" placeholder="Full Name"  value="{{ user.fullName }}" name="fullName" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="phone">Phone</label>
                <div class="col-sm-4 ">
                    <input class="form-control" id="phone" placeholder="Phone" name="phone" required type="text" value="{{ user.phone }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <a class="btn btn-default" href="{{ path('offers_index') }}">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            {{ form_row(form._token) }}

        </fieldset>
    </form>
{% endblock %}
