{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" id="create" action="{{ path('article_create') }}" enctype="multipart/form-data" method="POST">
                <fieldset>
                    <legend>New Post</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Post Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title" placeholder="Post Title"
                                   name="article[title]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Content</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="article_content"
                                  name="article[content]"></textarea>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Category</label>
                        <div class="col-sm-4 ">
                            {{ form(form.category) }}
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label" >Price</label>
                        <div class="col-sm-4 ">
                            <input type="number" name="article[price]" id="article_price" value="0"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Free Shipping</label>
                        <div class="col-sm-4 ">
                            {{ form(form.freeShipping) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Is New</label>
                        <div class="col-sm-4 ">
                            {{ form(form.isNew) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">City</label>
                        <div class="col-sm-4 ">
                            {{ form(form.city) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Post Image</label>
                        <div class="col-sm-4 ">
                            <button type="button" class="btn btn-default btn-sm" id="add" onclick="addFields()">
                                <span class="plus">+</span>
                            </button>
                        </div>
                    </div>
                    <div id="files"></div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('offers_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                    <input type="hidden" id="city" name="city">
                </fieldset>
            </form>
        </div>
    </div>
    <script type='text/javascript'>

        var count=1;

        window.addEventListener("load",function(){
            getCity();
        },false);

        function addFields(){
            var tag = '<div><input type="file" onchange="setValue(this)" name="image'+count+'"><button class="del" onclick="deleteFile(this)">Delete</button><input type="radio" name="featured" value="male"> Male<br></div>';
            $('#files').append(tag);
            count +=1;
        }
        function deleteFile(elm){
            $(elm).parent().remove();
        }
        function getCity() {
            $('#city').val(($("#article_city option:selected").text()));
        }
        function setValue(elm) {
            $(elm).next().next().val(elm.value.split('\\').pop());
        }
    </script>

{% endblock %}