{% extends 'base.html.twig' %}

{% block main %}

        <div class="container body-container mt-5">
                <article>
                    <div class="row">
                        <div class="col-6">

                           <img src="{{ asset('uploads/images/') ~ article.featuredImage }}" height="500px" width="500px">
                        </div>
                        <div class="col-5">
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>
                            <h2>${{ article.price }}</h2>
                    <small class="author">
                        {{ article.author.fullName }}
                    </small>
                            <p>
                                {{ article.content }}
                            </p>

                            <div class="align-text-bottom">
                            <a class="btn btn-default btn-xs align-bottom" href="{{ path('offers_index') }}">back &raquo;</a>
                            {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin()) %}
                                <a class="btn btn-success btn-xs align-bottom" href="{{ path('article_edit', {id: article.id}) }}">edit &raquo;</a>
                                <a class="btn btn-danger btn-xs align-bottom" href="{{ path('article_delete', {id: article.id}) }}">delete &raquo;</a>
                            {% endif %}
                            </div>

                        </div>



                    </div>


                    <div class="row mt-3">
                    {% for img in article.images %}
                        <div class="form-group">
                            <div class="col-3 ">
                                <img src="{{ asset('uploads/images/') ~ img.name }}" name="{{ img.name }}" height="270" width="270">
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                    <div class="jumbotron">
                        <h1 class="display-3">Phone:  {{ article.author.phone }}</h1>
                        <p class="lead">{% if article.freeShipping %}The offer includes free shipment{% else %}The offer does not includes free shipment{% endif %}</p>
                        <p class="lead">{% if article.new %}New item!{% else %}Used item!{% endif %}</p>
                        <hr class="my-4">
                        <p>Name: {{ article.author.fullName }},       Email: {{ article.author.email }}</p>
                    </div>
                    <div id="comment" style="display: none">
                        <form method="post" action="{{ path('add_comment', {id:
                            article.id}) }}">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="6" id="comment_content" name="comment"></textarea>
                                    <input class="btn btn-success" type="submit" value="Create" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <button id="addComment" class="btn btn-success" onclick="writeComment()">Add Comment</button>


                    <h2 class="text-center mt-5 mb-5">COMMENTS</h2>
                    <hr>
                    {% for comment in article.comments %}
                        <div>
                            <h5>{{ comment.user.fullName }}</h5>
                        <p >{{ comment.content }}</p>
                        {% if app.getUser() and (app.getUser().isCommentAuthor(comment) or app.getUser().isAdmin()) %}
                            <button class="btn btn-danger mb-5" onclick="deleteComment(this, {{ comment.id }})">Delete</button>
                        {% endif %}
                        </div>
                    {% endfor %}


                </article>
            </div>
        </div>
    </div>
    <script>
        function writeComment() {

            $('#comment').toggle();

        }

        function deleteComment(elm, id) {
            var autorId = {'authorId': {{ article.authorId }}};
            var url = '{{ path("delete_comment", {'id': 'comment_id'}) }}';
            url = url.replace("comment_id", id);
            console.log(url);
            $.ajax({
                url: url,
                type: "POST",
                data: autorId,
                success: function (data) {
                    console.log(data);
                    console.log('comment deleted');
                }
            });
            console.log(autorId);
            $(elm).parent().remove();
        }

    </script>

{% endblock %}

