{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <p>
                        {{ article.content }}
                    </p>

                    <img src="{{ asset('uploads/images/') ~ article.featuredImage }}" >

                    <small class="author">
                        {{ article.author.fullName }}
                    </small>

                    <button id="addComment" class="btn btn-default" onclick="writeComment()">Add Comment</button>
                    <div id="comment" style="display: none">
                        <form method="post" action="{{ path('add_comment', {id:
                            article.id}) }}">
                            <div class="form-group">
                                <!--<label class="col-sm-4 control-label" for="article_content">Content</label>-->
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="6" id="comment_content" name="comment"></textarea>
                                    <input class="btn btn-success btn-sm" type="submit" value="Create" />
                                </div>
                            </div>
                        </form>
                    </div>
                    {% for img in article.images %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="article_title">Post Image</label>
                            <div class="col-sm-4 ">
                                <img src="{{ asset('uploads/images/') ~ img.name }}" name="{{ img.name }}" height="270" width="270">
                            </div>
                        </div>
                    {% endfor %}

                    {% for comment in article.comments %}
                        <div>
                        <p>{{ comment.content }}</p>
                        {% if app.getUser() and (app.getUser().isCommentAuthor(comment) or app.getUser().isAdmin()) %}
                            <button class="del" onclick="deleteComment(this, {{ comment.id }})">Delete</button>
                        {% endif %}
                        </div>
                    {% endfor %}

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="{{ path('offers_index') }}">back &raquo;</a>
                            {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin()) %}
                            <a class="btn btn-success btn-xs" href="{{ path('article_edit', {id: article.id}) }}">edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {id: article.id}) }}">delete &raquo;</a>
                            {% endif %}
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
    <script>
        function writeComment() {

            $('#comment').toggle();
            $.ajax({
                url: "https://test-e3f8c.firebaseio.com/.json",
                type:"GET",
                success: function (data) {
                    console.log(data['lambo']);
                }
            });
        }

        function deleteComment(elm, id) {
            var autorId = {'authorId': {{ article.authorId }}};
            var url = '{{ path("delete_comment", {'id': 'comment_id'}) }}';
            url = url.replace("comment_id", id);
            console.log(url);
            $.ajax({
                url: url,
                type: "POST",
                data: autorId,
                success: function (data) {
                    console.log(data);
                    console.log('comment deleted');
                }
            });
            console.log(autorId);
            $(elm).parent().remove();
        }

    </script>

{% endblock %}

